h1,h2{color: blueviolet;}

.box > .done {
  color: firebrick;
}

.list li:first-child {
    color: blue;
}

.box > .list > .done {
    color: seagreen;
}

body>ul>.done {
    font-size: 0.5rem;
}

